<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gesture</key>
	<dict>
		<key>RootViewController/gestureclicked:</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>gesture</string>
		</dict>
	</dict>
	<key>ViewController</key>
	<dict>
		<key>RootViewController/viewDidLoad</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string>测试</string>
				<key>tips</key>
				<string>埋点</string>
			</dict>
			<key>EventName</key>
			<string>首页</string>
		</dict>
		<key>SecondViewController/viewDidLoad</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string>展示</string>
				<key>tips</key>
				<string>点击埋点</string>
			</dict>
			<key>EventName</key>
			<string>灵感列表页</string>
		</dict>
	</dict>
	<key>CollectionView</key>
	<dict>
		<key>ThirdViewController/0</key>
		<dict>
			<key>viewcontroller</key>
			<true/>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>collectionview</string>
		</dict>
	</dict>
	<key>TableView</key>
	<dict>
		<key>SecondViewController/0</key>
		<dict>
			<key>viewcontroller</key>
			<false/>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>灵感列表</string>
		</dict>
	</dict>
	<key>Action</key>
	<dict>
		<key>RootViewController/testButtonClick:/0</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>content</key>
				<string></string>
				<key>tips</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>button</string>
		</dict>
		<key>SecondViewController/UIView/UITableView/TableViewCell/testButtonClick:/0</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>content</key>
				<string></string>
				<key>tips</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>button</string>
		</dict>
	</dict>
</dict>
</plist>
